{{! Modified by S West to include the Component name }}
<title>{{{detag (or page.title defaultPageTitle)}}}{{#if page.component}} | {{page.component.title}}{{/if}}{{#with site.title}} :: {{this}}{{/with}}</title>
