@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Bold.eot");
  src:
    local("DepotNew Bold"),
    local("DepotNew-Bold"),
    url("../font/DepotNew-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Bold.woff2") format("woff2"),
    url("../font/DepotNew-Bold.woff") format("woff"),
    url("../font/DepotNew-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-ThinItalic.eot");
  src:
    local("DepotNew Thin Italic"),
    local("DepotNew-ThinItalic"),
    url("../font/DepotNew-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-ThinItalic.woff2") format("woff2"),
    url("../font/DepotNew-ThinItalic.woff") format("woff"),
    url("../font/DepotNew-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-BoldItalic.eot");
  src:
    local("DepotNew Bold Italic"),
    local("DepotNew-BoldItalic"),
    url("../font/DepotNew-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-BoldItalic.woff2") format("woff2"),
    url("../font/DepotNew-BoldItalic.woff") format("woff"),
    url("../font/DepotNew-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Regular.eot");
  src:
    local("DepotNew Regular"),
    local("DepotNew-Regular"),
    url("../font/DepotNew-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Regular.woff2") format("woff2"),
    url("../font/DepotNew-Regular.woff") format("woff"),
    url("../font/DepotNew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Medium.eot");
  src:
    local("DepotNew Medium"),
    local("DepotNew-Medium"),
    url("../font/DepotNew-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Medium.woff2") format("woff2"),
    url("../font/DepotNew-Medium.woff") format("woff"),
    url("../font/DepotNew-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-LightItalic.eot");
  src:
    local("DepotNew Light Italic"),
    local("DepotNew-LightItalic"),
    url("../font/DepotNew-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-LightItalic.woff2") format("woff2"),
    url("../font/DepotNew-LightItalic.woff") format("woff"),
    url("../font/DepotNew-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Italic.eot");
  src:
    local("DepotNew Italic"),
    local("DepotNew-Italic"),
    url("../font/DepotNew-Italic.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Italic.woff2") format("woff2"),
    url("../font/DepotNew-Italic.woff") format("woff"),
    url("../font/DepotNew-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-MediumItalic.eot");
  src:
    local("DepotNew Medium Italic"),
    local("DepotNew-MediumItalic"),
    url("../font/DepotNew-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-MediumItalic.woff2") format("woff2"),
    url("../font/DepotNew-MediumItalic.woff") format("woff"),
    url("../font/DepotNew-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Light.eot");
  src:
    local("DepotNew Light"),
    local("DepotNew-Light"),
    url("../font/DepotNew-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Light.woff2") format("woff2"),
    url("../font/DepotNew-Light.woff") format("woff"),
    url("../font/DepotNew-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DepotNew";
  src: url("../font/DepotNew-Thin.eot");
  src:
    local("DepotNew Thin"),
    local("DepotNew-Thin"),
    url("../font/DepotNew-Thin.eot?#iefix") format("embedded-opentype"),
    url("../font/DepotNew-Thin.woff2") format("woff2"),
    url("../font/DepotNew-Thin.woff") format("woff"),
    url("../font/DepotNew-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
